BasedOnStyle: LLVM
BreakBeforeBraces: Allman
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AccessModifierOffset: -4
IndentWidth: 4
SpaceBeforeParens: Never
PointerAlignment: Left
AlignConsecutiveAssignments: true
AlignOperands: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 100
NamespaceIndentation: All
ReflowComments: true
SortIncludes: true
AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: true
Standard: Auto
Cpp11BracedListStyle: true
AlwaysBreakTemplateDeclarations: true
UseTab: Never
MaxEmptyLinesToKeep: 2
FixNamespaceComments: false
DerivePointerAlignment: true
