[Unit]
Description=Axiom Service

[Service]
Type=simple
WorkingDirectory=/opt/axiom_daemon/
ExecStart=/opt/axiom_daemon/axiom_daemon
RestartSec=1
Restart=always

[Install]
WantedBy=multi-user.target
